 body {
      background-color: black;
      color: #f00;
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      margin-top: 50px;
      animation: flickerbackground 3s infinite alternate;
    }

    .container {
      max-width: 800px;
      margin: auto;
    }

    h1 {
      font-size: 3em;
      color: red
      margin-bottom: 0.2em;
      text-shadow: 0 0 5px #;
    }

    .message {
      font-size: 1.5em;
      margin-bottom: 0.5em;
      color: #0096ff;
      animation: flicker 2s infinite;
    }

    .puzzle {
      font-size: 1.2em;
      margin-top: 1em;
      color: #FFF;
      animation: pulse 0s infinite;
    }

    .countdown {
      margin-top: 1em;
      font-size: 1.2em;
      color: #39FF14;
    }


    .email-form {
      margin-top: 2em;
    }

    .email-form input,
    .email-form button {
      padding: 0.6em;
      font-size: 1em;
      margin: 0.5em;
      background-color: #000;
      color: #39FF14;
      border: 1px solid #ff0;
    }

    .email-form input::placeholder {
      color: #998;
    }

    .email-form button:hover {
      background-color: #0f0;
      color: #000;
      cursor: pointer;
    }

    .form-message {
      margin-top: 1em;
      font-size: 1em;
      font-weight: bold;
      color: #0f0;
      text-shadow: 0 0 2px #0f0;
    }

    .form-message.error {
      color: #f00;
      text-shadow: 0 0 2px #f00;
    }

    .form-message.success {
      color: #0f0;
    }

    @keyframes flicker {
      0%, 100% { opacity: 1; }
      50% { opacity: 0.6; }
    }

    @keyframes pulse {
      0%, 100% { transform: scale(1); }
      50% { transform: scale(1.05); }
    }
